body{
    background-color: rgb(197, 195, 195)
}
.header-blog{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 50px;
    margin-bottom:30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: aliceblue;
     
}
.header-name{
    display:flex;
    justify-content: center;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

}
ul li {
    
    list-style: none;
    margin-bottom: 5px;
}

.aboutMe {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.aboutMe a {
    font-size: 30px;
    color: black;
    text-decoration: none;
}


.aboutMe a:hover{
    color:red;
}

.aboutMeStory{
    border: 2px solid;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px
}
.aboutMeStoryText{
    display:flex;

}
/*  */
